:root {
  --white: #fff5fd;
  --color: #ff96ad;
  --dark: #005a8d;
  --very-dark: #022e57;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: byekan;
  src: url(./font/BYekan.ttf);
}

body {
  background-color: var(--color);
  font-family: byekan;
  overflow: auto;
}

header {
  background-color: var(--dark);
  color: var(--white);
  text-align: center;
  font-weight: 900;
  font-size: larger;
  padding: 10px;
  font-size: 25px;
  text-shadow: 2px 2px var(--very-dark);
  position: fixed;
  top: 0;
  width: calc(100% - 200px);
  z-index: 1;
}

header h1 a {
  text-decoration: none;
  color: var(--very-dark);
}

nav {
  background-color: var(--very-dark);
  width: 200px;
  height: 100%;
  position: fixed;
  right: 0;
  text-align: right;
  z-index: 2;
}

nav ul {
  color: var(--white);
  padding: 0 10px;
}

nav ul li {
  font-size: 25px;
  margin: 10px 0;
  border-bottom: var(--white) solid 1px;
  list-style-type: none;
}

nav ul li:hover {
  background-color: var(--color);
  color: var(--very-dark);
  cursor: pointer;
}

nav ul li a {
  text-decoration: none;
  color: var(--white);
  display: block;
}
nav ul li a:hover { 
  color: var(--very-dark);
}

main {
  background-color: var(--color);
  width: calc(100% - 200px);
  height: calc(100% - 91px);
  position: absolute;
  bottom: 0;
}

.homepage p {
  text-align: center;
  color: var(--very-dark);
  font-size: 40px;
  margin-top: 100px;
}

.navbar-select {
  background-color: var(--color);
  position: relative;
  left: -15px;
}

.products {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  align-content: center;
  
}

.search {
  flex: 50%;
  text-align: center;
}

.products-table {
  flex :100%;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.add-product {
  flex: 50%;
  text-align: center;
}

a {
  text-decoration: none;
  color: var(--white);
  display: block;
  padding: 5px;
}

button {
	background-color:var(--very-dark);
	border-radius:5px;
	display:inline-block;
	cursor:pointer;
	color:var(--white);
	font-size:17px;
	text-decoration:none;
	font-family: byekan;
}

button:hover {
	background-color:var(--dark);
}

button:active {
	position:relative;
	top:1px;
}

input, select, option {
  width: 50%;
  padding: 12px 20px;
  margin: 0px 8px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  text-align: right;
  font-family: byekan;
  }

table {
  background-color: var(--dark);
  border-collapse: collapse;
}

td, th {
  border: 1px solid var(--white);
  text-align: center;
  padding: 8px;
}

th {
  background-color: var(--very-dark);
}

tr:nth-child(even) {
  background-color: var(--white);
}

tr:nth-child(odd) {
  color: var(--white);
}

.add-product-page h2 {
  text-align: center;
  color: var(--white);
  text-shadow: 2px 2px var(--very-dark);
  background-color: var(--very-dark);
  width: 40%;
  margin: 20px auto;
  padding: 10px;
  border-radius: 10px;
}

.add-product-page button {
  margin: 10px 0 0 10px;
  padding: 5px 10px;
}

.add-product-page form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

i {
  margin: 5px;
  cursor: pointer;
}

.products-table a{
 display: inline;
 color: black
}